<% layout('./layout/boilerplate') %>

<h2>Change Password</h2>
<form action="/reset-password" method="post">

    <input type="password" name="newPassword" class="form-control" required placeholder="enter new pasword">
    <input type="password" name="confirmPassword" class="form-control" required placeholder="Retype the password">

    <button class="btn btn-secondary">Change Password</button>
</form>